name: SLUS_010.13
sha1: d11dfdd50d412ac3fa3e2eb80fbde138da118f27
options:
  basename: slus_010.13
  target_path: disc/SLUS_010.13
  elf_path: build/slus_010.13.elf
  base_path: ../
  platform: psx
  compiler: PSYQ

  asm_path: asm
  src_path: src
  build_path: build

  ld_script_path: linker/slus_010.13.ld
  ld_dependencies: True
  ld_bss_is_noload: True

  find_file_boundaries: False
  gp_value: 0x8003EC14

  o_as_suffix: True
  use_legacy_include_asm: False

  section_order: [".rodata", ".text", ".data", ".sdata", ".sbss", ".bss"]

  symbol_addrs_path:
    - config/symbol_addrs.txt
  reloc_addrs_path:
    - config/reloc_addrs.txt

  undefined_funcs_auto_path: linker/undefined_funcs_auto.txt
  undefined_syms_auto_path: linker/undefined_syms_auto.txt

  extensions_path: tools/splat_ext

  subalign: 2

  string_encoding: ASCII
  data_string_encoding: ASCII
  rodata_string_guesser_level: 2
  data_string_guesser_level: 2

segments:
  - name: header
    type: header
    start: 0x0

  - name: main
    type: code
    start: 0x800
    vram: 0x80010000
    align: 4
    subsegments:
      - [0x800, c, main]
      - [0x47D0, c, audio]
      - [0x4814, c, main_continued]
      - [0x25990, data, initialized]

  - name: sdata
    type: data
    start: 0x2F414
    vram: 0x8003EC14
    subsegments:
      - [0x2F420]
  - [0x2F800]